@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: theme(textColor.neutral.50);
	background: theme(textColor.neutral.950);
	text-transform: uppercase;
}

.background-grid {
	@apply bg-opacity-10;
	background-size: theme(spacing.10) theme(spacing.10);
	background-image: linear-gradient(
			to right,
			theme(backgroundColor.neutral.50 / 5%) theme(spacing.1),
			transparent theme(spacing.1)
		),
		linear-gradient(
			to bottom,
			theme(backgroundColor.neutral.50 / 5%) theme(spacing.1),
			transparent theme(spacing.1)
		);
}
